.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  padding: 1em;
  background-color: black;
  color: #fff;
}

.dropdown-menu {
  background-color: #222;
}

// .p-text {
//   // font-size: 15px;
//   position: relative;
//   top: 1px;
// }

.flag {
  width: 20px;
  height: 12px;
  position: relative;
}

.dropdown-menu>li>a {
  padding: 8px 16px;
  color: white;
}

.header-container-bottom {
  // margin-top: 1%;
  // margin: 1% 0;
  margin-bottom: 1%;
  display: flex;
}

.back-pic {
  border: 0;
  margin-left: -330px;
  width: 200%;
  height: 600px;
}

.input {
  margin: 2% 5%;
  height: 30px;
  top: 1px;
  position: relative;
}

::placeholder {
  font-weight: 5px;
  padding-left: 10px;
}

.loginBtn {
  position: relative;
  left: 609px;
  bottom: 69px;
  color: black;
  font-weight: 700;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid white;
}

.header-top-left {
  display: flex;
  justify-content: center !important;
  top: 5px;

  p {
    margin: 0 2%;
  }
}

.logo-header-top-left {
  display: flex;
  justify-content: center !important;

  p {
    margin: 0 2%;
  }
}

.login-header-top-right {
  display: flex;
  white-space: nowrap;
  justify-content: center !important;
}

.header-top-right {
  display: flex;
  white-space: nowrap;
  top: 5px;
  justify-content: center !important;

  p {
    margin: 0 2%;
    position: relative;
  }
}

.instakart {
  max-width: 100%;
  height: 30px;
  margin-bottom: 5%;
}

.search-icon {
  color: #ff4533;
  transform: translateX(4px);
  margin-left: 5px;
}

.search-btn {
  background-color: #ff4533 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  color: white;
  font-weight: bold;
  position: relative;
  border-radius: 7px;
  transform: translateX(-5px);
  margin-right: 10px;
}

.small-text {
  font-size: 10px;
}

.bold-text {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.self-center {
  align-self: center;
}

.cart {
  font-size: 1.5rem !important;
}

.user {
  margin: 5% 2% !important;
  display: flex !important;
  padding-left: 30px;
  cursor: pointer;
}

.text {
  margin: 0 7%;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiOutlinedInput-adornedStart {
  padding-left: 0px !important;
}

#search-input {
  font-size: 12px;
}

.header-container-bottom {
  .Body {
    width: 70% !important;
  }
}

// to remove the dropdown caret
.dropdown-menu::before,
.dropdown-menu::after {
  border: none;
  content: none;
}

//animation button
@-webkit-keyframes c {
  0% {
    background-position: -5000px 0
  }

  to {
    background-position: 5000px 0
  }
}

@keyframes c {
  0% {
    background-position: -5000px 0
  }

  to {
    background-position: 5000px 0
  }
}

.vendor-signup {
  display: block;
  -webkit-animation: c 53s linear infinite;
  animation: c 53s linear infinite;
  background: linear-gradient(121.19deg, rgba(133, 239, 49, 0) 25.73%, hsla(0, 0%, 100%, .3) 45.27%, rgba(133, 239, 49, 0) 62.27%), #28a4d9;
  padding: 0.6250em 2.500em;
  color: #fff !important;
  float: right;
  margin-left: 0.6250em;
  border: 1px solid #28a4d9;
  background-color: #28a4d9 !important;
}

.caret {
  display: none;
}

.caret-down {
  left: 1rem;
  top: 1px;
  position: relative;
}

.header_sec {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;
}

.header_sec {
  .signup-logo {
    margin: 1.3em;
  }
}