.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  padding: 1em;
  background-color: black;
  color: #fff;
}

.dropdown-menu {
  // background-color: #222;
  background: #f5f5f5;
  opacity: .9;
}

.flag {
  width: 20px;
  height: 12px;
  position: relative;
  bottom: 1px;
}

.dropdown-menu>li>a {
  padding: 8px 16px;
  color: black;
}

.header-container-bottom {
  margin-bottom: 1%;
  display: flex;
}

.back-pic {
  border: 0;
  margin-left: -330px;
  width: 200%;
  height: 600px;
}

.input {
  margin: 2% 5%;
  height: 30px;
  top: 1px;
  position: relative;
}

::placeholder {
  font-weight: 5px;
  padding-left: 10px;
}

.loginBtn {
  position: relative;
  left: 609px;
  bottom: 69px;
  color: black;
  font-weight: 700;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid white;
}

.header-top-left {
  display: flex;
  justify-content: center !important;
  top: 5px;

  p {
    margin: 0 2%;
  }
}

.logo-header-top-left {
  display: flex;
  justify-content: center !important;

  p {
    margin: 0 2%;
  }
}

.login-header-top-right {
  display: flex;
  white-space: nowrap;
  justify-content: center !important;
}

.header-top-right {
  display: flex;
  white-space: nowrap;
  top: 5px;
  justify-content: center !important;

  p {
    margin: 0 2%;
    position: relative;
  }
}

.instakart {
  max-width: 100%;
  height: 30px;
  margin-bottom: 5%;
  cursor: pointer;
}

.search-icon {
  color: #ff4533;
  transform: translateX(4px);
  margin-left: 5px;
}

.search-btn {
  background-color: #ff4533 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  color: white;
  font-weight: bold;
  position: relative;
  border-radius: 7px;
  transform: translateX(-5px);
  margin-right: 10px;
}

.small-text {
  font-size: 10px;
}

.bold-text {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 10%;
  text-transform: capitalize;
}

.self-center {
  align-self: center;
}

.cart {
  font-size: 1.5rem !important;
}

.user {
  // margin: 5% 2% !important;
  margin: 7% !important;
  display: flex !important;
  // padding-left: 30px;
  cursor: pointer;
}

.text {
  margin: 0 7%;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiOutlinedInput-adornedStart {
  padding-left: 0px !important;
}

#search-input {
  font-size: 12px;
}

.header-container-bottom {
  .body {
    width: 70% !important;
  }
}

// to remove the dropdown caret
.dropdown-menu::before,
.dropdown-menu::after {
  border: none;
  content: none;
}

//animation button
@-webkit-keyframes c {
  0% {
    background-position: -5000px 0;
  }

  to {
    background-position: 5000px 0;
  }
}

@keyframes c {
  0% {
    background-position: -5000px 0;
  }

  to {
    background-position: 5000px 0;
  }
}

.vendor-signup {
  // display: block;
  // padding: 0.625em 2.5em;
  // color: $color-background !important;
  // float: right;
  // margin-left: 0.625em;
  // -webkit-animation: c 70s linear infinite;
  // animation: c 70s linear infinite;
  // background: linear-gradient(120deg, rgba(40, 164, 217, 1) 40%, rgba(245, 245, 245, 1) 50%, rgba(40, 164, 217, 1) 60%);
  // border: 1px solid #28a4d9;
  color: $color-theme;
}

.vendor-signup:focus,
.vendor-signup:hover {
  color: #fff;
  background-color: transparent;
}

.caret {
  display: none;
}

.caret-down {
  left: 1rem;
  top: 1px;
  position: relative;
}

.header-sec {
  position: relative;
  min-height: 50px;
  background-color: $color-primary;
}

.header-sec .signup-logo {
  margin: 1.3em;
  cursor: pointer;
  -webkit-animation: c 70s linear infinite;
  animation: c 70s linear infinite;
  background: linear-gradient(120deg, rgba(22, 34, 42, 1) 30%, rgba(245, 245, 245, 1) 50%, rgba(22, 34, 42, 1) 70%);
}

.signup-logo:hover {
  box-shadow: 0 3px 3px $color-background;
}

.cart-icon {
  padding: 0px !important;
  margin: 0 15% !important;
}

.head {
  p {
    line-height: 1.5;
  }

  a {
    color: #9d9d9d;
  }

  // a:focus,
  a:hover {
    color: #fff;
    background-color: transparent;
  }

  a:focus {
    outline: none !important;
  }

  .navbar-right{
    margin: 0 !important;
  }
}

.p-text:hover {
  color: $color-theme;
  text-shadow: 0 3px 7px $color-theme;
}
