.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  padding: 1em;
  background-color: black;
  color: #fff;
}

.flag {
  // width: 7%;
  height: 15px;
  position: relative;
  // top: 2px;

}

.header-container-bottom {
  // margin-top: 1%;
  // margin: 1% 0;
  margin-bottom: 1%;
  display: flex;
}

.back-pic {
  border: 0;
  margin-left: -330px;
  width: 200%;
  height: 600px;
}

.input {
  margin: 2% 5%;
  height: 30px;
  top: 1px;
  position: relative;
}

::placeholder {
  font-weight: 5px;
  padding-left: 10px;
}

.loginBtn {
  position: relative;
  left: 609px;
  bottom: 69px;
  color: black;
  font-weight: 700;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid white;
}

.header-top-left {
  display: flex;
  justify-content: center !important;
  top: 5px;

  p {
    margin: 0 2%;

  }
}

.logo-header-top-left {
  display: flex;
  justify-content: center !important;

  p {
    margin: 0 2%;
  }
}

.login-header-top-right {
  display: flex;
  white-space: nowrap;
  justify-content: center !important;
}

.header-top-right {
  display: flex;
  white-space: nowrap;
  top: 5px;
  justify-content: center !important;

  p {
    margin: 0 2%;
    position: relative;
  }
}

.instakart {
  max-width: 100%;
  height: 30px;
  margin-bottom: 5%;
}

.search-icon {
  color: #ff4533;
  transform: translateX(4px);
  margin-left: 5px;
}

.search-btn {
  background-color: #ff4533 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  color: white;
  font-weight: bold;
  position: relative;
  border-radius: 7px;
  transform: translateX(-5px);
  margin-right: 10px;
}

.small-text {
  font-size: 10px;
}

.bold-text {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.self-center {
  align-self: center;
}

.cart {
  font-size: 1.5rem !important;
}

.user {
  margin: 5% 2%;
  display: flex;
  cursor: pointer;
}

.text {
  margin: 0 7%;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiOutlinedInput-adornedStart {
  padding-left: 0px !important;
}

#search-input {
  font-size: 12px;
}

.header-container-bottom {
  .Body {
    width: 70% !important;
  }
}