.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: baseline;
  padding: 1em;
  background-color: black;
  color: #fff;
}

.svg-inline--fa {
  height: 25px !important;
}
.location{
  bottom: 3px;
    position: relative;
}
.flag {
  width: 7%;
  height: 15px;
  position: relative;
  top: 2px;

}

.Location {
  position: relative;
  margin-right: 20px;
}

.Location {
  position: relative;
  margin-left: 20px;
}

.header-container-bottom {
  margin-top: 1%;
  display: flex;
}

.back-pic {
  border: 0;
  margin-left: -330px;
  width: 200%;
  height: 600px;
}


.input {
  margin: 2% 5%;
  height: 30px;
  top: 1px;
  position: relative;
}

::placeholder {
  font-weight: 5px;
  padding-left: 30px;
}

.loginBtn {
  position: relative;
  left: 609px;
  bottom: 69px;
  color: black;
  font-weight: 700;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid white;
}

.header-top-left {
  display: flex;
  top: 5px;
  // float: left;

  p {
    margin: 0 2%;
    
  }
}
.logo-header-top-left{
  display: flex;
  // float: left;

  p {
    margin: 0 2%;
  }
}

.login-header-top-right {
  display: flex;
  white-space: nowrap;
}
.header-top-right {
  display: flex;
  white-space: nowrap;
  top: 5px;
  left: 30%;
  // float: right;

  p {
    margin: 0 2%;
    position: relative;
    right: 30%;
  }
}

.instakart {
  max-width: 150px;
  height: 30px;
  margin-right: 3%;
  margin-left: -75px;
}

.search-icon {
  color: #ff4533;
  transform: translateX(4px);
  margin-left: 5px;
}

.search-btn {
  background-color: #ff4533 !important;
  color: #fff !important;
  text-transform: capitalize !important;
  color: white;
  font-weight: bold;
  position: relative;
  border-radius: 7px;
  transform: translateX(-5px);
  margin-right: 10px;
}

.small-text {
  font-size: 10px;
}

.bold-text {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.self-center {
  align-self: center;
}

.cart {
  font-size: 1.5rem !important;
}

.user {
  margin: 0 2%;
  display: flex;
}

.text {
  margin: 0 7%;
}

.MuiOutlinedInput-adornedEnd {
  padding-right: 0px !important;
}

.MuiOutlinedInput-adornedStart {
  padding-left: 0px !important;
}

#search-input {
  font-size: 12px;
}