.HeadContainer {
  box-sizing: border-box;
  margin-left: -330px;
  display: flex;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: black;
  color: #fff;
  width: 200%;
  height: 40px;
  margin-top: -67px;
  p {
    position: relative;
    margin-left: 182px;
    font-size: 12px;
    left: 55px;
  }
  h6 {
    right: -291px;
    position: relative;
    margin-top: -6px;
    margin-bottom: 12px;
    font-size: 12px;
    margin-left: 31px;
  }
}
.flag {
  width: 30px;
  position: relative;
  margin-left: -169px;
}
.Location {
  position: relative;
  margin-right: 20px;
}
.LoginDetails {
  position: relative;
  bottom: -43px;
  p {
    right: -291px;
    position: relative;
    margin-bottom: -2px;
    font-size: 10px;
    margin-left: 319px;
    margin-top: 0px;
    top: -64px;
    color: black;
    font-weight: 700;
  }
}
.Search {
  position: relative;
  font-size: 13px;
  color: red;
  left: -413px;
  top: 2px;
}
.userPlus {
  margin-left: 575px;
  top: -36px;
  position: relative;
  font-size: 25px;
}
.CartPlus {
  margin-left: 688px;
  top: -93px;
  position: relative;
  font-size: 15px;
}
.Location {
  position: relative;
  margin-left: 20px;
}
.SubHeadContainer {
  box-sizing: border-box;
  margin-left: -330px;
  display: flex;
  align-items: baseline;
  padding: 1em;
  margin-bottom: -4em;
  width: 200%;
  margin-top: -28px;
}

.back-pic {
  border: 0;
  margin-left: -330px;
  width: 200%;
  //   top: 21px;
  height: 600px;
}


.input {
  width: 32%;
  margin-left: 49px;
  height: 31px;
  top: -1px;
  position: relative;
}

h1 {
  font-size: 27px;
  margin-left: 232px;
  margin-top: -3px;
}
.searchBtn {
  width: 72px;
  background-color: #ff4533;
  color: white;
  font-weight: bold;
  position: relative;
  left: -89px;
  top: -1px;
  border-radius: 7px;
}
::placeholder {
  font-weight: 5px;
  padding-left: 30px;
}
.loginBtn {
  position: relative;
  left: 609px;
  bottom: 69px;
  color: black;
  font-weight: 700;
  font-size: 10px;
  background-color: transparent;
  border: 1px solid white;
}
