.about-restaurant {
  .check-title {
    margin: 10px 0px 10px 0px;

    .title-label {
      font-size: 15px;
    }
  }

  .form-contentCheck {
    top: 10px;
    position: relative;

    .form-check {
      .form-check-input {
        margin: 5px;
      }
    }
  }

  .tax-label {
    margin-top: 4%;
    white-space: nowrap;
  }

  .file-label {
    margin-top: 2%;
    white-space: nowrap;
  }

  .check-name {
    color: #777;
    font-size: 12px;
  }

  .form-text {
    padding-bottom: 12px;
  }

  .btn-restaurant {
    padding-top: 15px;
  }

  .resta {
    top: 10px;
    position: relative;
  }
}

.rightside-panel {

  .btn-primary:focus,
  & :hover {
    background-color: transparent;
  }
}