// .container-fluid {
//   margin-right: -15px;
//   margin-left: -15px;
// }
.theme-page {
  background-color: #e4e4e4;
  // padding: 0;
  // margin: 0;
  color: #777777;
  display: block;
}

.inner-wrapper {
  width: 90% !important;
  margin: auto;
}

.right-content {
  padding: 30px;

  .breadcrumbs {
    margin: 10px 0 23px;
    right: 14px;
    position: relative;
    width: 100%;
    margin-top: 0% !important;
    font-size: 1em;
  }

  .header-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }
}

.banner-ads {
  padding-bottom: 30px;
}

.listing-main-content {
  padding: 20px 20px 30px;
  background: #fff;
  border: 1px solid #eee;

  .listing-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }
}

.listing-title h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;
}

.listing-metas {
  margin-bottom: 10px;
}

.single-location-address,
.listing-date,
.listing-views {
  display: inline-block;
  padding-right: 15px;
  float: left;
  font-size: 12px;
  line-height: 26px;
  color: #777777;

  // color: #EC4E12;
  .icon-title {
    padding-right: 15px;
    color: #ec4e12;
  }
}

.button-style-2 {
  padding: 10px 15px;
  color: #777;
  background: transparent;
  border: 1px solid #ccc;
  font-size: 13px;
  border-radius: 2px;
  display: inline-block;
  line-height: 1;
  margin-right: 15px;
  margin-bottom: 8px;

  i {
    margin-right: 10px;
  }
}

//body
.single-filed-wrapper {
  background: #fff;
  padding: 30px;
  font-family: Roboto;

  .field-item {
    background: #fff;
    margin: 10px 0;
    padding: 5px;
  }

  .field-label {
    font-family: Roboto;
    color: #222222 !important;
    padding-bottom: 10px;
    display: block;
  }

  .field-title {
    font-size: 18px;
    color: #444;
    font-weight: 600;
  }

  .field-description p {
    font-size: 14px;
    color: #777777;
    line-height: 26px;
  }
}

//mid
.mid-fields-group {
  margin: 30px 0 0;
  font-family: Roboto;
  background: #fff;
  padding: 30px;

  .mid-caption {
    border-bottom: none !important;
    font-size: 18px !important;
    font-weight: 700;
    margin: 0;
    padding: 0 0 10px;
    text-transform: capitalize !important;
    font-family: Roboto;
    color: #222222 !important;
  }

  .mid-field-type-categories {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #dfe1e0 !important;
    margin: 10px 0 !important;
    padding: 6px 0 15px !important;
    overflow: hidden;
    background: none !important;
    border-radius: 0 !important;
  }

  .mid-field-label {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: 140px;
    font-family: Roboto;
    color: #222222 !important;
  }

  .mid-form-content {
    display: inline-block;
    padding: 0 5px;
    float: none !important;
  }

  .mid-label-primary {
    color: #444 !important;
    font-size: 14px;
    font-weight: 900;
  }
}

.videos-notab {
  margin: 30px 0 0;
  display: block;
  background: #fff;
  padding: 30px;

  .video-field-name {
    margin-bottom: 20px;
    display: block;
    font-family: Roboto;
    color: #222222;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
  }
}

.comments-reviews {
  background: #fff;
  padding: 30px;

  .single-post-fancy-title {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    position: relative;
  }

  .single-post-fancy-title span {
    display: inline-block;
    position: relative;
    z-index: 3;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .comments_numbers {
    width: 24px;
    height: 24px;
    background: #888;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding: 0;
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    line-height: 24px;
    background: #666;
    color: #fff;
    margin-left: 10px;
  }

  .single-post-fancy-title {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    position: relative;
  }

  .span {
    display: inline-block;
    position: relative;
    z-index: 3;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
}

.single-post-fancy-title {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin: 0;
  position: relative;
}

.pacz-commentlist {
  margin: 0 0 15px;
  text-decoration: none !important;
  list-style: none;

  .li {
    margin: 0 0 15px;
    list-style: none;
  }

  .comment-content {
    border: 1px solid #eee;
    border-bottom: none;
    padding: 30px;
    background: #fff;

    p {
      margin-bottom: 0;
      font-size: 14px;
      color: #777777;
      line-height: 26px;
    }

    .dirrater-title {
      font-weight: bold !important;
      margin-bottom: 6px !important;
      display: inline-block;
      border: none;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: normal !important;
      margin-top: 0;
      margin-bottom: 10px;
      //color: #333;
    }
  }
}

.comment-meta-main {
  background: #f7f8f9;
  border-bottom: none;
}

.author-img {
  width: 70px;
  float: left;
}

.comment-meta {
  float: left;
  width: calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
  width: -moz-calc(100% - 70px);
  padding: 10px 10px 0;
}

.comment-time {
  display: block;
  float: none;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 12px;
  padding-bottom: 15px;
  margin-top: 5px;
  font-size: 12px;
}

.comment-author {
  float: none;
  margin: 0;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 16px;
  color: #444;
  line-height: 1;
}

.review-rate {
  display: inline;
  float: right;
  font-size: 8px;

  i {
    font-size: 16px;
    color: #ff9700;
    vertical-align: middle;
  }

  .comment-meta-main {
    background: #f7f8f9;
    border-bottom: none;
  }

  .comment-content {
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
  }

  .comment-respond {
    padding-bottom: 20px;
  }
}

//s

.inner-content {
  .label-save {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 10px;
    margin: 2px;
    position: relative;
  }

  .comment-form-row {
    margin-bottom: 15px;
    padding-right: 15px;
    position: relative;

    input {
      padding: 12px 12px 12px 58px;
      width: 100%;
      font-weight: bold;
      position: relative;
      z-index: 2;
      border: 1px solid black;
      font-size: 14px !important;
    }

    i {
      float: left;
      width: 43px !important;
      height: 43px;
      line-height: 43px;
      text-align: center;
      position: absolute;
      left: 15px;
      top: 0;
      font-size: 16px;
      z-index: 3;
      border-right: 2px solid #eee;
      color: #666666;
    }
  }

  .respond {
    margin: 0;
  }

  .comment-reply-title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left !important;
  }

  .leave-comment-heading {
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 5px;
  }

  .dir_message_field p {
    font-size: 14px;
    color: #777777;
    line-height: 26px;
  }

  .comment {
    padding: 20px;
    border: none;
    border: 1px solid #eee;
    width: 100%;

    textarea {
      overflow: auto;
    }

    .form-row {
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 15px;
      padding-right: 15px;
      width: 33.3%;
      position: relative;
    }

    .new_rating_wrapper {
      .new_listing_rating {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  .eply-link,
  .logged-in-as {
    margin: 5px 0 15px 0 !important;
    font-weight: 400 !important;
  }

  #cancel-comment-reply-link,
  .logged-in-as {
    margin: 5px 0 !important;
    font-weight: 600 !important;
    font-style: italic !important;
    font-size: 12px !important;
  }



  #new_rating_wrapper {
    position: relative;
    width: 280px;
    font-size: 14px;
    display: inline-block;
  }

  p {
    font-size: 14px;
    color: #777777;
    line-height: 26px;
  }
}

.dir--title {
  input {
    border: 1px solid #eee;
    width: 100%;
    padding: 20px 20px;
    margin-top: 20px;
  }
}

.form-submit {
  margin-bottom: 0;

  .submit {
    color: #fff;
    padding: 0;
    background-color: #1ab454;
    font-size: 14px !important;
    padding: 0 15px;
    text-transform: capitalize;
    min-width: 150px;
    min-height: 44px;
    line-height: 44px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 3px;
  }

  :hover {
    background-color: #ec4e12;
  }
}

.card-holder {
  padding: 30px 20px 15px;
  background: #fff;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;

  .heading {
    text-transform: capitalize;
    font-weight: 700 !important;
    color: #222222;
    margin: 0px 0px 36px 14px;
    /* font-size: 16px; */
  }

  .listing-figur {
    img {
      width: 100%;
      height: 268px;
    }
  }

  .content-card {
    position: relative;
    padding: 0px 0 0 !important;
    overflow: visible !important;
    border: 1px solid #eee;
    right: 15px;

    .btn {
      border-width: 1px;
      background-color: transparent;
      font-weight: 400;
      padding: 0px 4px 0px 3px;
      border-color: #444;
      color: #444;
      float: right;
    }
  }

  .cat-wrapper {
    padding: 10px 15px 10px 30px;
    top: 10px;
    position: relative;
  }

  .german h2 {
    padding: 0px 0px 0px 27px;
    position: relative;
    bottom: 14px;
    font-size: 16px;
    color: #222222;
    font-weight: 900;
  }

  .loco-map {
    bottom: 11px;
    position: relative;
    border: 1px solid #eee;

    .listing-location {
      margin: 18px;
      margin-left: 24px;
      bottom: 11px;
      position: relative;
    }

    i {
      top: 10px;
      position: relative;
    }
  }

  .price-rate {
    padding: 10px 19px 3px 28px;

    .stars i {
      color: #ec4e12;
    }

    .field-label {
      float: right;
      background: none !important;
      font-size: 18px;
      font-weight: normal;
      color: #333;
    }
  }

  .type-summary {
    padding: 0px 20px 10px 25px;
    bottom: 10px;
    position: relative;
  }
}

// // side
.left-side-div {
  padding: 30px;
  // top: 3px;

  .left-banner{
    margin-bottom: 30px;
    box-shadow: 0 1px 1rem -4px #000;
  }

  .pacz-sidebar {
    position: relative;
    padding-top: 42px;
    margin-bottom: 30px;
    overflow: visible;

    .widget{
      background: #fff;
    border: 1px solid #eee;
    padding: 30px 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1rem -4px #000;
    }
    

    .field-content {
      width: 100%;
      background: #3eb549;
      display: block;
      border-radius: 0;
      height: 70px;
      line-height: 70px;
      text-align: center;
      color: #fff;
      position: relative;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
      overflow: visible;
    }

    .currency-symbol {
      min-width: 60px;
      height: inherit;
      background: rgba(0, 0, 0, 0.1);
      display: inline-block;
      line-height: inherit;
      float: left;
      font-size: 32px;
      padding: 0 10px;
    }

    .author-img {
      display: block;
      padding: 5px;
      background: #fff;
      box-shadow: none;
      width: 126px;
      float: none;
      margin: 0 auto 10px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #dfe1e0;
      height: 126px;

      img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border: 0;
      }
    }

    .author-content {
      width: 100%;
      float: none;
      padding-left: 0;
      text-align: center;
      margin-bottom: 15px;
      word-break: break-all;

      .author-name {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 0;
        color: #222222 !important;
      }

      .author-reg-date p {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    .author-btns {
      margin: 15px -5px 0;

      .author-btn-holder {
        //width: 50%;
        padding: 0 5px;
        margin:10px 0px;
        display: inline-block;
      }

      a {
        vertical-align: middle;
        background: none;
        border: 1px solid #eee;
        border-radius: 3px;
        display: block;
        min-height: 44px;
        line-height: 44px;
        text-align: center;
        color: #444 !important;
        padding: 0 15px;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .widget-row {
    background: #fff;
    border: 1px solid #eee;
    // box-shadow: 0 5px 10px rgba(0 0 0 / 4%);
    padding: 30px 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 1rem -4px #000;

    .widget-title {
      font-family: Roboto;
      position: relative;
      display: block;
      margin-bottom: 10px;
      line-height: 100%;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 700;
      padding: 0 30px;
      color: #333333;
    }

    //
    .dtl {
      border-bottom: 1px solid #f1f1f1;
      padding: 5px;

      :hover {
        background: #f1f1f1;
      }

      .cat-icon {
        float:right :hover {
          color: green;
        }
      }

      .field-icon {
        width: 30px;
      }

      .tle {
        position: relative;
        left: 11%;

        :hover {
          color: green;
        }
      }
    }

    .offer {
      border-bottom: 1px solid #f1f1f1;
      padding: 5px;

      .cat-icon {
        float: right;
      }
    }

    .textwidget {
      top: 10px;
      right: 2%;
      position: relative;

      ul li {
        margin-bottom: 10px;
        margin-left: 0.85em;
        text-decoration: none !important;
      }
    }

    .text-center {
      text-align: justify;

      .image-holder {
        margin-bottom: 30px;
        overflow: visible;
      }

      img {
        display: inline-block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-color: chartreuse;
      }
    }
  }
}