body {
  background-color: #f5f5f5;

  //Avoid blue tint color
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  height: 100%;
}

.container-fluid {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: unset;
}

.margin-control {
  margin: 0px;
}

.padding-control {
  padding: 0px;
}

//Font Smoothing
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 400;
}

// General Colors
$color-white: #ffffff;
$color-gray: #9a9a9a !default;
$color-azure: #23ccef;
$color-purple: #9368e9;
$color-red: #fb404b;
$color-green: #87cb16;
$color-orange: #ffa534;
$color-blue: #447df7;
$color-grey: #9d9d9d;
$color-theme: #28a4d9;
$color-primary: #16222a;
$color-background: #f5f5f5;

// React sidebar
// $sidebar-bg-color: #16222a!default;
// $sidebar-color: #adadad !default;
// $sidebar-width: 270px !default;
// $sidebar-collapsed-width: 80px !default;
// $highlight-color: #d8d8d8 !default;
// $submenu-bg-color: #2b2b2b !default;
// $submenu-bg-color-collapsed: #2b2b2b !default;
// $icon-bg-color: #2b2b2b !default;
// $icon-size: 35px !default;
// $breakpoint-xs: 480px !default;
// $breakpoint-sm: 576px !default;
// $breakpoint-md: 768px !default;
// $breakpoint-lg: 992px !default;
// $breakpoint-xl: 1200px !default;

@mixin transform-translate-x($value) {
  -webkit-transform: translate3d($value, 0, 0);
  -moz-transform: translate3d($value, 0, 0);
  -o-transform: translate3d($value, 0, 0);
  -ms-transform: translate3d($value, 0, 0);
  transform: translate3d($value, 0, 0);
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin line-gradient($top-color, $bottom-color) {
  background: $top-color;
  background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top-color), color-stop(100%, $bottom-color));
  background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: -o-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: -ms-linear-gradient(top, $top-color 0%, $bottom-color 100%);
  background: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%);
  background-size: 150% 150%;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

// Custom Button
.btn {
  border-width: 1px;
  background-color: transparent !important;

  @include opacity(0.8);
  padding: 8px 16px;


  &:hover,
  &:focus {
    @include opacity(1);
    outline: 0 !important;
  }

  &:active,
  &.active,
  .open>&.dropdown-toggle {
    @include box-shadow(none);
    outline: 0 !important;
  }

  &.btn-icon {
    padding: 8px;
  }

  .btn-label {
    .fa {
      width: 13px;
    }
  }

  .fa {
    width: 20px;
  }
}

.btn {

  &:disabled,
  &[disabled],
  &.disabled {
    @include opacity(0.5);
  }
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 8px 16px;

  &.btn-icon {
    padding: 8px;
  }
}

.btn-simple {
  border: none;
  font-size: 16px;
  padding: 8px 16px;

  &.btn-icon {
    padding: 8px;
  }
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}

.btn-group>.btn {
  opacity: 1;

  &:not(:first-child):not(.dropdown-toggle) {
    border-left: none;
  }
}

.btn-primary {
  border-color: #28a4d9 !important;
  color: #28a4d9 !important;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $color-theme;
}