@import "~bootstrap/dist/css/bootstrap.css";
@import '~react-multi-carousel/lib/styles.css';
@import '~antd/dist/antd.css';
@import '~react-pro-sidebar/dist/scss/styles.scss';
@import './custom.scss';
@import "../../src/containers/Home/style.scss";
@import '../../src/components/Card/style.scss';
@import '../../src/components/IntroBanner/style.scss';
@import '../../src/components/SportsBanner/style.scss';
@import '../../src/components/Footer/style.scss';
@import '../../src/components/Header/style.scss';
@import '../../src/components/Banners/style.scss';
@import '../../src/components/Headerbar/style.scss';
@import '../../src/components/StatsCard/style.scss';
@import '../../src/containers/Dashboard/style.scss';
@import '../../src/containers/SignUp/style.scss';
@import '../../src/components/Sidebar/style.scss';
@import '../../src/components/LoginModal/style.scss';
@import '../../src/components/Table/style.scss';
@import '../../src/containers/AboutUs/style.scss';
@import '../../src/containers/TermsConditions/style.scss';
@import '../../src/components/OtpScreen/style.scss';
@import '../../src/containers/VendorInfo/style.scss';
@import '../../src/containers/ThriftStore/style.scss';
@import '../../src/containers/AdsDetails/style.scss';
@import '../../src/containers/ProductList/styles.scss';
@import '../../src/containers/AddProduct/style.scss';
@import '../../src/containers/Profile/style.scss';
@import '../../src/containers/UpdatePassword/style.scss';
@import '../../src/components/Desk/style.scss';