.checkout-page {
  margin: 0%;
  padding: 15px;
}

.titleproduct {
  font-size: 25px;
  padding-top: 7%;
  cursor: pointer;
  margin: 5% 0px;
  font-weight: 800;
  font-family: monospace;
}

.itemsproduct {
  float: right;
  cursor: pointer;
  font-weight: 800;
  font-family: monospace;
  font-size: 20px;
}

.product-list {
  margin: 5%;
}

.total {
  margin: 3%;
  cursor: pointer;
  font-weight: 800;
  font-family: monospace;
  font-size: 17px;

  .sub-total {
    color: gray;
    font-weight: 800;
    font-family: monospace;
  }

  .sub-price {
    font-size: 20px;
    position: relative;
    left: 13px;
    font-family: monospace;
  }
}

.quanity-check {
  cursor: pointer;
  font-family: monospace;

  .quanitybtn {
    cursor: pointer;
  }
}

.checkout-details {
  margin: 7% 2%;
  padding: 2%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #ffffff;

  .address-title {
    color: #ffffff;
    margin: 1% 0px;
    font-weight: 800;
    font-family: initial;
    font-size: 30px;
  }

  .checkout-feild {
    margin: 3% 0%;
  }

  .name-price {
    font-weight: 800;
    font-family: initial;
  }

  .align-items-center {
    display: flex;
    margin: 1%;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;

    img {
      width: 9rem
    }

    .product-remove {
      font-size: 15px;
      font-weight: 700;
      font-family: monospace;
      color: gray;
      cursor: pointer;

      :hover {
        color: black;
      }
    }

    .productlist {
      font-size: 18px;
      font-weight: 700;
      font-family: monospace;
      padding-top: 7%;
      cursor: pointer;
    }

    .product-price {
      font-size: 18px;
      font-weight: 700;
      font-family: fantasy;
      padding-top: 10%;
      cursor: pointer;
    }
  }

  .billing-card {
    background-color: #2F374B;
    padding: 8%;
    margin: 1%;
  }

  .checkout-label {
    margin-top: 3%;
    font-size: 15px;
  }

  .MuiFormLabel-root {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: initial;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiInput-underline:before {
    border-bottom: 1px solid#ffffff !important;
  }

  .MuiInput-underline:hover {
    border-bottom: transparent !important;
  }

  .MuiFormLabel-root.Mui-focused {
    color: #ffffff;
  }

  .MuiInput-underline:after {
    border-bottom: 1px solid #28a4d9 !important;
  }

  .MuiInput-underline {
    border-bottom: transparent !important;
  }

  .MuiInputBase-input {
    color: #ffffff;
    font-size: 13px;
    border-bottom: 1px solid#ffffff;
  }

  .MuiTypography-h6 {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: initial;
    line-height: 0;
    margin-top: 10px;
  }

  .checkoutbtn {
    text-align: center;
    margin-top: 7%;

    .MuiButton-containedPrimary {
      color: #fff;
      font-size: 13px;
      padding: 10px 25px;
      background-color: #3f51b5;
    }
  }

  .MuiButton-containedPrimary {
    color: #fff;
    font-size: 13px;
    padding: 10px 25px;
    background-color: #28a4d9 !important;
  }

  .MuiCard-root {
    background-color: #515863;
  }

  .proceed-list {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10%;
    padding: 5%;
    font-family: monospace;
  }

  .subtotal {
    font-size: 30px;
    margin: 1%;
    text-overflow: ellipsis;
    cursor: pointer;
    font-weight: 800;
    font-family: monospace;
  }
}