.table-content {
    display: flex;
    padding: 20px 3%;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f5f5f5;
    height: 100%;

    // .ReactTable .rt-thead {
    //     background: black;
    //     color: blanchedalmond;
    //     text-align: center;
    // }
}

// react table header
.ReactTable .-header{
    background: $color-primary;
    // color: blanchedalmond;
    text-align: center;
}