.tab-scroll{
background: white;

.PrivateTabIndicator-colorPrimary-6 {
  background-color: #28a4d9 !important;
}

.PrivateTabIndicator-root-5 {
  background-color: #28a4d9 !important;
}

.MuiTab-textColorPrimary {
  color: black !important;
}

.MuiTab-root {
  font-family: fantasy !important;
  font-weight: 700 !important;
  font-size: 12px !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}
}