.sports {
  margin-top: 5%;
  display: inline-flex;
}

.sports-pic {
  height: 380px;
}

.button {
  position: relative;
  height: 7%;
  width: 73px;
  border-color: whitesmoke;
  background-color: whitesmoke;
  text-align: center;
  font-size: 12px;
  bottom: 10%;
  left: 40%;
}

.Button {
  position: relative;
  height: 7%;
  border-color: whitesmoke;
  background-color: whitesmoke;
  text-align: center;
  font-size: 12px;
  bottom: 15%;
  left: 5%;
  height: 7%
}

.ShoePic {
  width: 100%;
  height: 190px;
  margin-bottom: -7%;
}

.ShoePic2 {
  width: 100%;
  height: 190px;
}