.content-cards {
    height: 200px;

    .banner-img {
        background-color: #28a4d9;
        height: 80%;
    }

    .about {
        font-size: 36px;
        position: relative;
        top: 20%;
        pointer-events: all;
        text-align: center;
        font-weight: bold;
        color: #33334b;
        margin: 0px;
    }

    .connect {
        font-size: 20px;
        position: relative;
        top: 34%;
        text-align: center;
        font-weight: bold;
        color: #33334b;
    }
}

.content-cards .signup-logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.para-sec {
    width: 50%;
    text-align: justify;
    margin: auto;

    .about-header {
        color: #33334b;
        font-size: 32px;
        bottom: 18px;
        position: relative;
    }
}

.content-cards h5 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
    padding: 100px 50px;
}

.animated-speed {
    animation-duration: 5s !important;
    opacity: 0;
}