.inst-logo {
  width: 83%;
  padding-bottom: 10%;
  padding-left: 5%;
}

.left-login {
  width: 106%;
  position: relative;
  left: -16px;
  height: 26em;
}

.right-welcome {
  text-align: center;

  p {
    left: 7%;
    font-size: 16px;
    width: 73%;
    font-weight: 500;
    position: relative;
  }
}

.form-recovery {
  white-space: nowrap;
  font-size: 12px;
}

.modal-button {
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  color: black;
  background-color: transparent;
  border: 1px solid #808080;
}

.modal-row {
  padding: 3%;
  padding-left: 7%;
  padding-right: 7%;

}

.in-body {
  width: 100%;
  margin: 0%;
}

.right-pop {
  left: 0%;
  // width: 100%;
}

.login-img {
  padding: 0%;
}

.mdl-body {
  padding: 0%;
}

.bnts {
  margin-left: -4%;
}

.modal-popup {
  padding: 0%;
}

.fade {
  padding-left: 0% !important;
}
.modal-open{
  padding-right: 0% !important;
}