.Body {
  width: 50% !important ;
  margin: auto;
}
.bodyContainer {
  overflow-x: hidden;
}
.IntroDiv{
  margin-top: 5%;
  width: 50% !important ;
  margin-left: 332px;
}
.Arrivals {
  margin-top: 2%;
  width: 50% !important ;
  margin-left: 332px;
}
.Arrival {
  margin-top: 2%;
  width: 50% !important ;
  margin-left: 332px;
}
h2 {
  text-align: center;
  margin-top: 4px;
}
h5 {
  color: white;
  font-size: 20px;
}
h4 {
  font-size: 20px;
}
.bg1 {
  background-color: skyblue;
}
.AddPic {
  height: 72px;
  width: 100px;
  margin-right: 124px;
  margin-top: 10px;
  margin-bottom: -81px;
}
