.body {
  width: 50% !important;
  margin: auto;
}

.bodyContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.intro-div {
  margin-top: 5%;
  width: 50% !important;
  margin-left: 332px;
}

.arrivals {
  margin-top: 2%;
  width: 50% !important;
  margin: auto;
}

.arrival {
  margin-top: 2%;
  width: 50% !important;
  margin: auto;
}

.welcome {
  h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    color: #33334b;
  }

  h5 {
    color: white;
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }
}

.bg-welcome {
  background-color: #28a4d9;
}

.addpic {
  height: 125px;
  color: white;
  padding: 1em 1em;
  border: none;
  border: 1px solid white;
  margin: 0 5%;
}

.intro-banner {
  margin-bottom: 3%;
}

.fitness-pic {
  position: relative;
  text-align: center;
}

.Promotions {
  margin-top: 2%;
  width: 50% !important;
  margin: auto;

  h5 {
    color: black;
  }
}