.body {
  width: 50% !important;
  margin: auto;
}

.body-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.intro-div {
  margin-top: 5%;
  width: 50% !important;
  margin-left: 332px;
}

.arrivals {
  margin-top: 2%;
  width: 50% !important;
  margin: auto;
}

.arrival {
  margin-top: 2% !important;
  width: 50% !important;
  margin: auto;
}

.welcome {
  h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: 700;
    color: #33334b;
    font-size: 36px;
  }

  h5 {
    color: white;
    font-size: 20px;
    margin: 0;
    margin-left: 15px;
    padding-top: 2.5% !important;
  }

  h4 {
    font-size: 20px;
  }
}

.bg-welcome-top {
  background-color: #28a4d9;

  .arrival {
    margin-bottom: 1.5% !important;
  }
}

.bg-welcome {
  background-color: #28a4d9;

  .arrival {
    margin-bottom: 1.5% !important;
    margin-top: 0% !important;
  }
}

.addpic {
  height: 125px;
  color: white;
  padding: 1em 1em;
  border: none;
  border: 1px solid white;
  margin: 0 5%;
}

.intro-banner {
  margin-bottom: 3%;
}

.fitness-pic {
  position: relative;
  text-align: center;
}

.bg-welcome-pro {

  .arrival {
    margin-bottom: 1.5% !important;
    margin-top: 0% !important;

    h5 {
      color: black;
    }
  }
}

.padding-control {
  padding: 0px;
}