.terms {
    text-align: inherit;
    font-weight: bold;
    color: #33334b;
}

.header {
    margin: 35px;
}

.content-body {
    margin: 35px;
    text-align: justify;

    p {
        margin: 20px !important;
        font-size: 14px !important;
        line-height: 1.6 !important;
        color: #333 !important;
    }
}

.section {
    margin: 20px !important;
    font-weight: 700;
}

.unlist {
    margin: 20px !important;
}