.terms {
    text-align: inherit;
    font-weight: bold;
    color: #33334b;
}

.header {
    margin: 35px;
}

.content_body {
    margin: 35px;
    text-align: justify;
}

.Section {
    margin: 20px!important;
    font-weight: 700;
}

.content_body p {
    margin: 20px !important;
    font-size: 14px!important;
    line-height: 1.6!important;
    color: #333!important;
}

.un_list{
    margin: 20px!important;
}