.category-holder {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
}

.clearfix {
  display: block;
}

s .card-body {
  font-weight: 700;
}

.card-body a {
  font-size: 14px;
  text-transform: capitalize;
  display: block;
  text-align: center;
}

.category-holder .card-body a .cat-icon {
  display: block;
  text-align: center;
  position: relative;
}

.card-body img.field-icon {
  margin: 0;
}

.category-holder .card-body a .categories-count {
  display: block;
  text-align: center;
  color: #f7425b;
}

.cards-row {
  width: 75% !important;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 70px;
  position: relative;
}

.category-item {
  float: left;
  padding: 0px 1px;
  margin-bottom: 12px;
  transform: translateY(0);
  transition: all 1s ease;
}

.category-holder:hover {
  transform: translateY(-7px);
  transition: all 1s ease;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.bg-thrift {
  background-color: #28a4d9;
  padding-bottom: 7px;
}

.particles-main {
  canvas {
    position: fixed;
    z-index: 0;
  }
}

.thrift-ads {
  width: 75% !important;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 10px;

  h3 {
    text-align: center;
    font-weight: bold;
  }

  h6 {
    text-align: center;
    font-weight: 400;
  }
}

.thrift-store {
  display: grid;

  .icon-big {
    font-size: 3.5rem;
  }
}

.thrift-store .thrift-card {
  margin: auto;
  white-space: nowrap;
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  position: relative;

}

.categories-title {
  font-size: 14px;
  color: grey;
  margin: auto;
  width: 100%;
  left: 0px;
  float: left;
  text-align: center;
  margin-top: 20px;
}

.categories-title:hover {
  color: #ec4e12;
}

.categories-count {
  float: left;
  text-align: center;
  color: #f7425b;
  width: 100%;
  left: 0px;
}

.categories-icons {
  width: 1em;
  position: relative;
  left: 10px;
}

.thrift h2 {
  text-align: center;
  margin-top: 0px;
  font-weight: 700;
  color: #33334b;
  font-size: 36px;
}

.text-loop {
  color: #28a4d9;
  left: 2px;

  .x3 {
    width: 175px !important;
  }
}