@mixin navbar-color($color) {
  background-color: $color;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  // IE8 filter
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
}

.logout {
  float: right;
  border: none;
}

.rightside-panel .navbar {
  background: #ffffff !important;
}

.nav {
  >li {

    >a:hover,
    >a:focus {
      background-color: transparent;
    }
  }
}

.navbar {
  border: 0;
  font-size: 16px;
  border-radius: 0;
  background-color: $color-primary !important;

  .navbar-minimize {
    float: left;
    margin: 3px 15px;
  }

  .navbar-brand {
    margin: 7px 0px;
    padding: 15px;
    font-size: 20px;
    text-transform: capitalize;
  }

  .navbar-nav {
    >li>a {
      padding: 10px 15px;
      margin: 10px 3px;
      position: relative;
    }

    >li>a.btn {
      margin: 15px 3px;
      padding: 8px 16px;
    }

    >li>a.btn-round {
      margin: 16px 3px;
    }

    >li>a [class^="fa"] {
      font-size: 16px;
      position: relative;
      line-height: 16px;
    }

    p {
      display: inline-block;
      padding-left: 5px;
      margin-bottom: 0;
    }

    .notification {
      position: absolute;
      background-color: #fb404b;
      text-align: center;
      border-radius: 10px;
      min-width: 18px;
      padding: 0 5px;
      height: 18px;
      font-size: 12px;
      color: #ffffff;
      font-weight: bold;
      line-height: 18px;
      top: 2px;
      left: 7px;
    }

    .btn {
      margin: 10px 3px;
      font-size: 14px;
    }

    .btn-simple {
      font-size: 16px;
    }

    &.fixed {
      width: calc(100% - #{calc(100% - 260px) });
      right: 0;
      left: auto;
      border-radius: 0;
    }

    &.navbar-absolute {
      position: absolute;
      width: 100%;
      z-index: 1030;
    }
  }

  .navbar-transparent {
    padding-top: 15px;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }

  .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 19px;
    border: none;

    .icon-bar {
      background-color: $color-white;
    }

    .navbar-collapse,
    .navbar-form {
      border-color: transparent;
    }

    &.navbar-default .navbar-toggle:hover,
    &.navbar-default .navbar-toggle:focus {
      background-color: transparent;
    }
  }
}

.hamburger-mobile {
  float: right;
  position: relative;
  margin: 21px;
}