.ads-control {

  .jumbotron {
    position: relative;
    // bottom: 74px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(0, 0, 0, .5);
    }
  }

  .image-gallery-slide .image-gallery-image {
    width: 100%;
    object-fit: cover;
  }

  .container-fluid {
    padding: 0px !important
  }

  .video-related {
    background-color: #f5f5f5;
  }

  .jumbotron .container {
    /* max-width: 100%; */
    width: 100%;
  }

  .ads-page {
    // background-color: rgba(255,255,255,.3);
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    // bottom: 3.5em;

    .product-sides {
      margin: 0% 5%;

      .product-title {
        font-size: 37px;
        // line-height: 30px;
        margin-bottom: 15px;
        font-family: fantasy;
        color: $color-background;
        font-weight: 700;
      }

      .sale {
        // float: left;
        // left: 19%;
        // margin: 1%;
        // padding: 10px;
        // position: relative;
        // font-weight: 700;
        color: whitesmoke;
        font-family: fantasy;
      }

      .see-all {
        font-size: 15px;
        // left: 19%;
        // margin: 1%;
        // padding: 10px;
        position: relative;
        font-weight: 700;
        color: whitesmoke;
        font-family: fantasy;
        text-decoration: underline;
      }

    }

    .position-top {
      margin-top: 10%;
      // background: $color-background;
    }

    .position-bottom {
      margin-top: 10%;
      background: $color-background;
    }

  }
}

.ik-ads {
  font-weight: 700;
  font-family: fantasy;
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  padding-top: 2.5% !important;
}

.video-ads {
  text-align: center;
  padding: 5%;
}

.butn-ads {
  font-size: 20px;
  margin: 10px;
  background-color: none;
  background-color: transparent;
  border-color: transparent;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  line-height: 34px;
  color: whitesmoke;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease-out;

  &:hover {
    // margin-top: 1%;
    // color: white;
    // transition: all .2s ease-out;
    // border-bottom: 5px solid white;
    transition: color .3s cubic-bezier(.7, 0, .3, 1);
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    display: block;
  }
}

.quanity {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  padding-top: 7%;
  cursor: pointer;

  .quanitybtns {
    cursor: pointer;
  }

}

.buybtn {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  padding-top: 7%;
  cursor: pointer;
  border: transparent;
  background: transparent;
  position: relative;

  &:hover {
    margin-bottom: 1%;
    transition: all .2s ease-out;
    color: #28a4d9;
  }
}

.desc-warni {
  .title-lorem {
    font-size: 25px;
    color: whitesmoke;
  }

  .subtitle-lorem {
    font-size: 18px;
    color: whitesmoke;
  }
}

.review-rate {
  // display: inline;
  // // float: right;
  // font-size: 8px;
  display: flex;
  position: relative;
  bottom: 10px;

  p {
    padding: 8px;
    font-size: 15px !important;
    color: $color-background;
  }

  .ant-rate {
    color: $color-theme;
  }

  i {
    font-size: 16px;
    color: #ff9700;
    vertical-align: middle;
  }

  .comment-meta-main {
    background: #f7f8f9;
    border-bottom: none;
  }

  .comment-content {
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
  }

  .comment-respond {
    padding-bottom: 20px;
  }
}

.bg-ads {
  padding: 5%;
  margin: auto;
}

.review-ads {
  display: inline;
  float: right;
  font-size: 15px;
  float: left;
  left: 19%;
  margin: 1%;
  padding: 10px;
  position: relative;
  font-weight: 700;
  color: #f1eeef;
  font-family: fantasy;

  .stars {
    background-color: transparent;
    display: inline;
  }
}