.Sports-pic {
  margin-left: 10px;
  height: 380px;
  /* margin-top: 1%; */
  width: 300px;
}
.button {
  position: absolute;
  margin-left: 142px;
  margin-top: -50px;
  width: 73px;
  border-color: whitesmoke;
  background-color: whitesmoke;
//   color:black;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}
.Button {
    position: absolute;
    margin-top: -61px;
    margin-left: 39px;
    width: 97px;
    background-color: whitesmoke;
    // color:black;
    border-color: whitesmoke;
    text-align: center;
    display: inline-block;
    font-size: 12px;
  }
.ShoePic {
  width: 173%;
  height: 190px;
}
.ShoeDownPic {
  float: right;
  margin-right: 165px;
  margin-top: -28.4%;
}
.ShoeUpPic {
  float: right;
  margin-right: 165px;
  margin-top: -56.4%;
}
