.container {
  width: 80%;
  margin: auto;
}

.card {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  img {
    width: 100%;
    //height: 200px;
    object-fit: center;
    //padding: 10px;
  }

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
  }
}

.card-content {
  //padding: 1rem;

  button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
    padding: 1em 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    margin-top: 30px;
    width: 140px;
  }

  button:hover {
    background-color: dodgerblue;
    color: white;
  }
}

.rating {
  color: white;
  font-size: 10px;
  background-color: green;
  width: 30%;
  margin-top: -6px;
}