.card {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;

  img {
    width: 100%;
    object-fit: center;
  }

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
  }

  .photos {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-thriftStore:hover .photos {
    opacity: 0.3;
  }

  .card-thriftStore:hover .middle {
    opacity: 1;
  }

  .text {
    font-size: 16px;
    font-weight: 500;
  }

 

  .card-listing-job {
    padding-left: 0% !important;
    text-align: left !important;
    padding-top: 0% !important;
  }

}

.card-content {
  button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
    padding: 1em 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    width: 75%;
  }

  button:hover {
    background-color: #28a4d9;
    color: white;
  }

  .card-title {
    text-align: center;
    top: 5px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    background: #f5f5f5;
    color: #28a4d9;
    font-weight: 600;
    white-space: nowrap;
  }
}

.rating {
  color: white;
  font-size: 10px;
  background-color: green;
  width: 30%;
  margin-top: -6px;
}

.listing-header {
  padding: 3%;
  margin: 0 auto;

  span {
    vertical-align: middle;
    padding: 0 2%;
  }

  a {
    font-size: 10px;
  }

}

.listing-job {
  clear: both;
  display: block;
  padding: 2%;
  text-align: center;

  a {
    font-size: 120%;
    font-weight: 700;
  }
  .country{
    margin-left: 4%;
  }
}

.listing-country {
  margin-bottom: 0 !important;
  font-size: 9px;

  span{
    padding-left: 0%;
  }
}

.listing-rating {
  padding: 2%;
}

.stars {
  background-color: #fff;
  display: inline;
}

.ratings {
  display: inline;
}

.product-rating {
  font-size: 12px;
}

.stars i {
  font-size: 12px;
  color: #28a4d9;
}

.currency {
  font-weight: 700;
  font-size: 100%;

}

.tooltip-fields {
  float: right;

  i {
    width: 18px;
    text-align: center;
  }
}

.card-avatar {
  position: absolute;
  right: 7%;
  bottom: 28%;
}

.card-thriftcards {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
  }
}

.reviewcard {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;
  border-radius: 10px;
  padding: 1%;

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    margin-top: 2%;
  }

  .review-title {
    font-family: fantasy;
    font-size: 18px;
    margin: 3%;
  }

  .content-date {
    font-size: 13px;
    float: right;
    margin: 2%;
  }


  .content-details {
    bottom: 10px;
    position: relative;

    .upquote {
      font-size: 4em;
      font-family: cursive;
      margin: 2%;
      color: darkred;
    }

    .content-text {
      font-family: fantasy;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      line-height: 2;
      //@at-root: 5%;
      bottom: 50px;
      position: relative;
      margin: 0% 10%;
    }

  }

  .heart-icon {
    position: relative;
    bottom: 10px;

    :hover {
      color: red;
    }
  }

  .reviewstars {
    padding: 0%;
    left: 10px;
    position: relative;
  }

  .fa-heart {
    left: 20px;
    bottom: 10px;
    font-size: 19px;
    position: relative;
  }
}

.property-card {
  height: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image {
  height: 10em;
  width: 14em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Bottom Card Section */

.property-description {
  background-color: #ffffff;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1em 1em;
  padding-top: 14px;
  text-align: left !important;
}

.property-card:hover .property-description {
  height: 0em;
  padding: 0px 1em;
}

.property-card:hover .property-image {
  height: 18em;
}

.property-card:hover .property-social-icons {
  background-color: white;
}

.property-card:hover .property-social-icons:hover {
  background-color: blue;
  cursor: pointer;
}

.striked-out {
  color: rgb(141, 141, 141);
  text-decoration: line-through;
  font-size: 100%;
  position: relative;
  left: 10px;
}

 .discount {
    color: $color-theme;
    font-size: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 3px;
    padding: 2px;
    top: 2px;
  }