.container {
  width: 80%;
  margin: auto;
}
.card {
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;

  img {
    width: 100%;
    height: 200px;
    object-fit: center;
    padding: 10px;
  }

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}

.card-content {
  padding: 1rem;
}

.rating {
  color: white;
  font-size: 10px;
  background-color: green;
  width: 30%;
  margin-top: -6px;
}

h6 {
  margin-top: -6px;
  margin-bottom: 12px;
  font-size: 15px;
}

h3 {
  margin-top: -6px;
  margin-bottom: 15px;
  font-size: 15px;
}