.card {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;

  img {
    width: 100%;
    object-fit: center;
  }

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
  }

  .photos {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-thriftStore:hover .photos {
    opacity: 0.3;
  }

  .card-thriftStore:hover .middle {
    opacity: 1;
  }

  .text {
    font-size: 16px;
    font-weight: 500;
  }
}

.card-content {
  button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
    padding: 1em 1em;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    background-color: rgb(245, 245, 245);
    border: 1px solid white;
    // margin-top: 30px;
    width: 75%;
  }

  button:hover {
    background-color: #28a4d9;
    color: white;
  }

  .card-title {
    text-align: center;
    // width: 100%;
    // margin: auto;
    top: 5px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    background: #f5f5f5;
    color: #28a4d9;
    font-weight: 600;
    white-space: nowrap;
  }
}

.rating {
  color: white;
  font-size: 10px;
  background-color: green;
  width: 30%;
  margin-top: -6px;
}

.listing-header {
  padding: 3%;
  margin: 0 auto;

  span {
    vertical-align: middle;
    padding: 0 2%;
  }

  a {
    font-size: 10px;
  }
}

.listing-job {
  clear: both;
  display: block;
  padding: 3%;

  a {
    font-size: 12px;
  }
}

.listing-country {
  margin-bottom: 0 !important;
  font-size: 9px;

  span {
    padding-left: 3%;
  }
}

.listing-rating {
  padding: 3%;
}

.stars {
  background-color: #fff;
  display: inline;
}

.ratings {
  display: inline;
}

.product-rating {
  font-size: 12px;
}

.stars i {
  font-size: 12px;
  color: #28a4d9;
}

.currency {
  font-weight: 700;
  float: right;
  font-size: 21px;
}

.tooltip-fields {
  float: right;

  i {
    width: 18px;
    text-align: center;
  }
}

.card-avatar {
  position: absolute;
  right: 7%;
  bottom: 28%;
}

.card-thriftcards {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
  }
}

.reviewcard {
  margin: 10px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  overflow: visible;
  border-radius: 10px;
  padding: 1%;

  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    margin-top: 2%;
  }

  .review-title {
    font-family: fantasy;
    font-size: 18px;
    margin: 3%;
  }

  .content-date {
    font-size: 13px;
    float: right;
    margin: 2%;
  }


  .content-details {
    bottom: 10px;
    position: relative;

    .upquote {
      font-size: 4em;
      font-family: cursive;
      margin: 2%;
      color: darkred;
    }

    .content-text {
      font-family: fantasy;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      line-height: 2;
      //@at-root: 5%;
      bottom: 50px;
      position: relative;
      margin: 0% 10%;
    }

  }

  .heart-icon {
    position: relative;
    bottom: 10px;
    
    :hover {
      color: red;
    }
  }

  .reviewstars {
    padding: 0%;
    left: 10px;
    position: relative;
  }

  .fa-heart {
    left: 20px;
    bottom: 10px;
    font-size: 19px;
    position: relative;
  }
}