.Body {
  margin-top: auto;
  // width: 50% !important ;
  margin: auto;
}

.photo {
  height: 300px;
  width: 225px;
}

.photos {
  height: 140px;
  width: 250px;
}

.flex-group {
  display: inline-flex;
  margin-top: 5%;
}

.flex-group-centre {
  margin: 0 30px;
}

.pic {
  height: 375px;
  width: 100%;
}

.food {
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  height: 7%;
  font-size: 13px;
  bottom: 45%;
  left: 30%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  color: white;
}

.health {
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  height: 7%;
  font-size: 13px;
  bottom: 30%;
  left: 25%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  color: white;
}

.services {
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  height: 7%;
  font-size: 13px;
  bottom: 30%;
  left: 25%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  color: white;
}

.desert {
  position: relative;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  height: 7%;
  font-size: 13px;
  bottom: 45%;
  left: 30%;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  color: white;
}