.ads-control {
  overflow: auto;

  .jumbotron {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .image-gallery-slide .image-gallery-image {
    width: 100%;
    object-fit: cover;
  }

  .container-fluid {
    padding: 0px !important
  }

  .video-related {
    background-color: transparent;
    padding-top: 5%;
  }

  .jumbotron .container {
    width: 100%;
  }

  .ads-page {
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;

    .position-bottom {
      background: transparent !important;
    }

    .product-sides {
      margin: 0% 5%;

      .product-title {
        font-size: 37px;
        margin-bottom: 15px;
        font-family: fantasy;
        color: $color-background;
        font-weight: 700;
      }

      .sale {
        color: whitesmoke;
        font-family: fantasy;
      }

      .see-all {
        font-size: 15px;
        position: relative;
        font-weight: 700;
        color: whitesmoke;
        font-family: fantasy;
        text-decoration: underline;
      }

      .prod-details {
        font-size: 18px;
        color: $color-white;
      }
    }

    .position-top {
      margin-top: 10%
    }

    .active {
      color: $color-theme;
    }
  }
}

.ik-ads {
  color: $color-theme;
  font-weight: 300;
  font-family: fantasy;
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  padding-top: 2.5% !important;
}

.video-ads {
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 500px;
  padding-left: 25%;
  padding-right: 25%;

}

.btnads {
  text-align: left;
  padding: 0%;
}

.butn-ads {
  font-size: 20px;
  text-align: center;
  margin: 2%;
  background-color: transparent;
  border-color: transparent;
  padding: 2%;
  line-height: 34px;
  color: whitesmoke;
  font-weight: 500;
  cursor: pointer;
}

.quanity {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  padding-top: 7%;
  cursor: pointer;

  .quanitybtns {
    cursor: pointer;
  }

}

.buybtn {
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  padding-top: 7%;
  cursor: pointer;
  border: transparent;
  background: transparent;
  position: relative;

  &:hover {
    margin-bottom: 1%;
    transition: all .2s ease-out;
    color: #28a4d9;
  }
}

.desc {
  .title-lorem {
    font-size: 25px;
    color: whitesmoke;
  }

  .subtitle-lorem {
    font-size: 18px;
    color: whitesmoke;
  }
}

.review-rate {
  display: flex;
  position: relative;
  bottom: 10px;

  p {
    padding: 8px;
    font-size: 15px !important;
    color: $color-background;
  }

  .ant-rate {
    color: $color-theme;
  }

  i {
    font-size: 16px;
    color: #ff9700;
    vertical-align: middle;
  }

  .comment-meta-main {
    background: #f7f8f9;
    border-bottom: none;
  }

  .comment-content {
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: none;
  }

  .comment-respond {
    padding-bottom: 20px;
  }
}

.bg-ads {
  padding: 0% 5% 5% 5%;
  margin: auto;
}

.review-ads {
  display: inline;
  float: right;
  font-size: 15px;
  float: left;
  left: 19%;
  margin: 1%;
  padding: 10px;
  position: relative;
  font-weight: 700;
  color: #f1eeef;
  font-family: fantasy;

  .stars {
    background-color: transparent;
    display: inline;
  }
}

.product-info-message {
  .form-control {
    background-color: rgba(0, 0, 0, -13.25) !important;
    border-color: $color-theme;
    color: whitesmoke;
  }

  .modal-button {
    background-color: $color-theme !important;
    color: whitesmoke !important;

  }

  .btn-block {
    width: 90px;
    float: right;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}