.general-info {
//   .ReactTable .rt-thead .rt-resizable-header-content {
//     color: white;
//     left: 16px;
//     position: relative; 
   
// }
// .ReactTable .-header .closed-header{
//   right: 11px;
//   position: relative;
// }
// .closed-header{
//   right: 11px;
//   position: relative;
// }
// .time-header{
//   left: 20px;
//   position: relative;
// }
// .ReactTable .-header :hover {
//   background: transparent;
// }
.ant-picker {
  padding: 4px;
  width: 80%;
  border-radius: 3px;
  
}
  .zipcode {
    padding-bottom: 20px;
  }

  .avatar-text {
    font-family: "Righteous", cursive;
    font-size: 2em;
    font-weight: 600;
    top: 25px;
    position: relative;
  }

  .image-upload {
    bottom: 25px;
    left: 160px;
    font-size: 16px;
    position: relative;
    cursor: grab;
  }
  
    font-size: 16px;
    position: relative;
    cursor: grab;


  .load-info {
    height: fit-content;
    margin: auto;
    min-height: 100px;
  }

  .image-upload input {
    display: none;
  }

  .photo {
    height: fit-content !important;
  }

  .loading-info {
    top: 30px;
    position: relative;
  }

  .photo img {
    width: 350px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
    display: block;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
  }

  .photo:hover img {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .photo:hover img,
  .photo:hover .glow-wrap {
    margin-top: 0;
  }

  .left-info {
    margin: 30px 0px;
  }

  .right-info {
    margin: 30px 0px;
  }

  .avtar-info {
    text-align: center;
    top: 85px;
  }

  .ReactTable .rt-thead .rt-resizable-header-content {
    color: white;
  }

  .resta {
    top: 10px;
    position: relative;
  }

  .general-table {
    padding: 10px 16px;
  }

  .btn-general {
    bottom: 2px;
    position: relative;
  }
}
