.general-info {
  .zipcode {
    padding-bottom: 20px;
  }

  .image-upload {
    bottom: 40px;
    left: 46px;
    position: relative;
    cursor: grab;
  }

  .image-upload input {
    display: none;
  }

  .avtar-info {
    text-align: center;
  }

  .ReactTable .rt-thead .rt-resizable-header-content {
    color: white;
  }

  .resta {
    top: 10px;
    position: relative;
  }

  .general-table {
    padding: 10px 16px;

  }

  .btn-general {
    bottom: 2px;
    position: relative;
  }
}