*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}
.cards-container {
  display: flex;
  border-radius: 2px;
  background: #eee;
  // background-color: blue;
  padding: 1rem;
  box-shadow: 0 0 1rem #000 inset;
  overflow-x: auto;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
}
.card {
  // flex: 1 0 250px;
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  // margin: 1rem;
  overflow: hidden;
  //  border-radius: 10px;
  //  border-color: #000;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  img {
    width: 150px;
    height: 200px;
    object-fit: center;
    padding: 10px;
  }
  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}
.card-content {
  padding: 1rem;
}
@media screen and (max-width: 625px) {
  .container {
    width: 100%;
  }
  .cards-container {
    padding: 0.5rem;
  }
  .card {
    margin: 0.5rem;
  }
}
.rating {
  color: white;
  font-size: 10px;
  background-color: green;
  width: 30%;
  margin-top: -6px;
}
h6 {
  margin-top: -6px;
  margin-bottom: 12px;
  font-size: 15px;
}
h3 {
  margin-top: -6px;
  margin-bottom: 15px;
  font-size: 15px;
}
