/*FOOTER*/
.footer-container {
  position: relative;
  width: 98% !important;
  margin: auto;

  ul li {
    position: relative;
    padding-bottom: 10px;
    font-size: 14px;
    color: grey;
  }

  ul {
    list-style: none;
    padding-left: 25px !important;
  }

  ul li:before {
    content: "";
    position: absolute;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 6;
    width: 6px;
    height: 6px;
    color: grey;
    top: calc(50% - 4px);
    left: -25px;
    transform: translateY(-50%) rotate(-45deg);
  }

  h4 {
    margin-bottom: 5%;
  }
}

footer {
  background: #16222a;
  color: white;
  // margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.footer-pad {
  h4 {
    font-size: 20px;

    font-weight: 500;
  }
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.support {
  color: grey;
  font-size: 14px;
  font-weight: bold;
}

.number {
  font-size: 24px;
  position: relative;
  top: 10px;
  left: 37px;
}

.zip {
  font-size: 24px;
  position: relative;
  bottom: 1em;
}

.text-right {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 20px;

  img {
    vertical-align: middle;
    position: relative;
  }
}

.text-left {
  margin-top: 3%;
  white-space: nowrap;
  color: grey;
  font-size: 10px;
  text-align: left;
}

.text-center {
  margin-top: 10px;
  text-align: center;
}

.social {
  margin-left: 10px;
}

.copy {
  top: 10px;
  border-top: 1px solid grey;
}

.footer-header {
  position: relative;
  text-align: center;

  h5 {
    font-size: 14px;
    margin: 7% 0;
  }

  p {
    margin-bottom: 15%;
  }
}

.side-Button {
  position: relative;
  display: flex;
  text-align: right;
  left: 3px;
}

.footer-top {
  margin: 0% 7%;
  margin-right: 0px !important;
  margin-bottom: 10px !important;
}

@mixin btn-border-drawing($color: #ccc,
  $hover: white,
  $width: 2px,
  $vertical: top,
  $horizontal: left,
  $duration: 0.25s) {
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal=="left", "right", "left");
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical=="top", "bottom", "top");
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color:$hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#ccc, #ccc, 3px, bottom, right);
  border-radius: 30px;
}

//=== Button styling, semi-ignore

.appBtn {
  position: relative;
  font-size: 15px;
  right: 60%;
  top: 8px;
  color: white;
}

.side-Button {
  position: relative;
  display: flex;
  text-align: right;

  button {
    background: #28a4d9;
    height: 35px;
    color: white;
    border-radius: 30px;
    margin-right: 1rem;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 0em 2em;
    text-align: center;

    &:focus {
      outline: 2px dotted #28a4d9;
    }

    p {
      bottom: 12px;
      position: relative;
      font-size: 12px;
      left: 7px;
      color: white;
    }

    strong {
      left: 7px;
      bottom: 25px;
      position: relative;
      font-size: 10px;
      color: white;
    }
  }
}

.footer-info {
  cursor: pointer;
}

//fitness pic
.fitness-pic {
  background-color: #16222a;
  position: relative;
  text-align: center;
  border-bottom: 1px solid grey;
}

.addpic {
  height: 125px;
  color: #ffffff;
  padding: 1em 1em;
  border: none;
  border-radius: 30px;
  margin: 0 5%;
}