.content_cards {
    height: 400px;

    .banner_img {
        background-color: #28a4d9;
        height: 80%;
    }

    .about {
        font-size: 36px;
        position: relative;
        top: 30%;
        pointer-events: all;
        text-align: center;
        font-weight: bold;
        color: #33334b;
    }

    .connect {
        font-size: 20px;
        position: relative;
        top: 27%;
        text-align: center;
        font-weight: bold;
        color: #33334b;
    }

}

.content_cards .signup-logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner_img_right {
    background-color: #9e9e9e6e;
    height: 80%;
}

.para_sec {
    width: 60%;
    text-align: justify;
    position: relative;
    left: 20%;

    .about-header {
        color: #33334b;
        font-size: 33px;
        bottom: 18px;
        position: relative;

    }
}

.content_cards h5 {
    color: #141414;
    font-size: 20px;
    font-weight: 600;
    padding: 100px 50px;
}