.category-page {

  .category-body {
    width: 80% !important;
    margin: auto;
    padding-top: 3.5% !important;
    margin-bottom: 1.75% !important;
    padding-left: 0.75%;
    padding-right: 0.75%;
    padding-bottom: 0%;
  }

  .card-height {
    height: 310px !important;
  }

  .checking {
    margin: 3% 3% 15% 3%;
  }

  .product-name {
    word-wrap: break-word;
    font-weight: 600;
    font-size: 120%;
    color: #28a4d9 !important;
  }

  .final-price {
    font-weight: 600;
    font-size: 15px;
    color: black;
  }
}

.striked-price {
  color: #8d8d8d;
  text-decoration: line-through;
  font-size: 100%;
  position: relative;
  left: 12px;
  font-size: 15px;
}

.price-position {
  position: relative;
  top: 8px;
}