.signup-logo {
    width: 15em;
}

.sub-heading {
    font-size: 1.5em;
    padding-top: 0.5%;
}

.heading {
    font-size: 2em;
    font-weight: 600;
}

.login-form {
    padding-top: 2%;
}

.signup-submit {
    padding-top: 5%;
}

.container-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-side {
    background: url('../images/pic5.jpeg');
    background-size: 107%;
    background-repeat: no-repeat;
    height: 500px;
    display: block;
}