.signup-logo {
    width: 15em;
}

.sub-heading {
    font-size: 1.5em;
    padding-top: 0.5%;
}

.heading {
    font-size: 2em;
    font-weight: 600;
}

.login-form {
    padding-top: 2%;
}

.signup-submit {
    padding-top: 3%;

    // @media only screen and (max-width: 992px) {
    //     padding-bottom: 5%;
    // }
}

.container-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
}

.left-side {
    height: 550px;
    width: 100%;

    @media only screen and (max-width: 992px) {
        height: auto !important;
    }
}

.login-error-signup {
    margin: 3% 0;
}

a .form-radio {
    position: relative;
    top: 2px;

}