.signup-logo {
    width: 15em;
}

.sub-heading {
    font-size: 1.5em;
    padding-top: 0.5%;
}

.heading {
    font-size: 2em;
    font-weight: 600;
}

.login-form {
    padding-top: 2%;
}

.signup-submit {
    padding-top: 5%;
}

.jumbotron {
    background: url('../images/banner.jpg')no-repeat center center /cover !important;
    width: auto;
    margin-bottom: 0%;

}

.container-fluid {
    overflow-x: hidden;
    overflow-y: hidden;
}