.errorpage {

  .title {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 5vmin;
    margin-top: 31vmin;
  }


  .subtitle {
    color: black;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3.5vmin;
    margin-top: -1vmin;
    margin-bottom: 9vmin;
  }

  .btn-back {
    border: 1px solid black;
    color: rgb(240, 8, 8);
    height: 5vmin;
    padding: 12px;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background: white;
      color: #4D007D;
    }
  }
}