.errorpage {
  .particles-main {
    canvas {
      position: fixed;
      z-index: 0;
      top: 0px;
    }
  }

  @mixin breakpoint($point) {
    @if $point==mobile {
      @media (max-width: 480px) and (min-width: 320px) {
        @content ;
      }
    }
  }

  // keyrames
  @keyframes floating {
    from {
      transform: translateY(0px);
    }

    65% {
      transform: translateY(15px);
    }

    to {
      transform: translateY(-0px);
    }
  }

  .logo-404 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 16vmin;
    width: 30vmin;

    @include breakpoint(mobile) {
      top: 45vmin;
    }
  }

  .title {
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 5vmin;
    margin-top: 31vmin;

    @include breakpoint(mobile) {
      margin-top: 65vmin;
    }
  }

  .subtitle {
    color: black;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 3.5vmin;
    margin-top: -1vmin;
    margin-bottom: 9vmin;
  }

  .btn-back {
    border: 1px solid black;
    color: rgb(240, 8, 8);
    height: 5vmin;
    padding: 12px;
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
      background: white;
      color: #4D007D;
    }

    @include breakpoint(mobile) {
      font-size: 3.5vmin;
    }
  }
}