circle-icon {
    width: 60px;
    padding: 0px 10px 0px 10px;
    border-radius: 50%;
}

.wrapper {
    display: flex;
    overflow: hidden;
}

.icon-1 {
    color: #f88e84;
}

.icon-2 {
    color: #f88e84;
}

.icon-3 {
    color: #92579e;
}

.icon-4 {
    color: #7164f1;
}

.icon-5 {
    color: $color-green;
}

.icon-6 {
    color: $color-orange;
}

.icon-7 {
    color: $color-blue;
}

.icon-8 {
    color: $color-black;
}

.main-content {
    display: flex;
    padding:2%;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f5f5f5;
    height: 100%;
}

.rightside-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 280px;
}