.banner {
  position: relative;
}

.carousel-indicators {
  display: none;
}

//for left and right arrows
.carousel-control.left {
  display: none;
}

.carousel-control.right {
  display: none;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}