.Listyour-ads {
  margin: 5%;

  .photo-ads {
    img {
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: 300px;
    }
  }

  .ant-upload.ant-upload-drag {
    height: 300px;
  }

  .ant-upload.ant-upload-drag .ant-upload {
    padding: 0px;
  }

  .ant-upload.ant-upload-drag .ant-upload-drag-container {
    background: floralwhite;
  }

  .list-your {
    margin: 3%
  }

  .ads-price {
    text-align: center;
    top: 45px;
    position: relative;
    margin: 1%;
    p{
      font-size: 8rem;
    }
  }

  .adslistbtn {
    border-color: #28a4d9 !important;
    color: #28a4d9 !important;
    border-width: 1px;
    background-color: transparent !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 16px;
    font-size: 22px;
    margin: 10%;
  }

  .listtop {
    margin-top:5%;
    top: 25px;
    position: relative;
  }

  .advertise {
    margin: 3%;
  }
}