.Listyour-ads {
  margin: 5%;

  .photo-ads {
    img {
      vertical-align: middle;
      border-style: none;
      width: 100%;
      height: 300px;
    }
  }

  .ads-upload-col {
    padding: 30px 0px 30px 30px;

    @media screen and (max-width: 992px) {
      padding: 30px 30px 30px 30px;
    }
  }

  .modal-btn-col {
    display: flex;
    height: 330px;
    padding-top: 30px;
    flex-direction: column-reverse;

    @media screen and (max-width: 992px) {
      top: -15px;
      height: 75px;
      padding-top: 0px;
      position: relative;
      display: flex;
      justify-content: center;
    }
  }

  .ant-upload.ant-upload-drag {
    height: 300px;
    border: none;
  }

  .ant-upload.ant-upload-drag .ant-upload {
    padding: 0px;
  }

  .ant-upload {
    background: #28a4d9;
  }

  .ant-upload-text {
    color: #28a4d9;
  }

  .ant-upload-text-error {
    color: #f50404;
    font-size: 16px;
  }

  .banner-label {
    font-size: 17px;
    margin: 20px 40px 0px 30px;
  }

  .adslistbtn {
    border-color: #28a4d9 !important;
    color: #28a4d9 !important;
    border-width: 1px;
    background-color: transparent !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding: 8px 15px;
    font-size: 17px;
    white-space: nowrap;
    border-radius: 5px;
    position: relative;
  }

  .adslistbtn:hover,
  .adslistbtn:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    outline: 0 !important;
  }

  .adslistbtn:active,
  .adslistbtn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
  }

  .price-label {
    margin: 10px;
    font-size: 17px;
    padding-left: 10px;
  }

  .price-col-error {
    color: red;
    position: relative;
  }

  .radio-btn-size {
    position: relative;
    top: 1px;
    width: 13px;
    height: 13px;
  }

  .free-trail-col {
    text-align: center;
    align-self: center;

    .modal-butn {
      cursor: pointer;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
      margin: 0px !important;
    }
  }

  .video-player-test {
    height: 300px !important;
    background-color: black;
  }
}