.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

[data-theme='compact'] .site-description-item-profile-wrapper {
  font-size: 12px;
  line-height: 1.66667;
}

.ant-drawer-body p.site-description-item-profile-p {
  margin-bottom: 24px;
  display: block;
  color: grey;
  font-size: 17px;
}

.title-desk {
  text-align: center;
  font-size: 25px !important;
  font-weight: 600;
  color: grey;
}

.desk-btns {
  text-align: right;
  margin-top: 10px;

  .ant-btn {
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    border-color: #28a4d9 !important;
    color: #28a4d9 !important;
    margin-bottom: 15px;
    cursor: pointer;
    padding:4px 40px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-width: 1px;
    background-color: transparent !important;
    opacity: 0.8;
  }
}

[data-theme='compact'] .ant-drawer-body p.site-description-item-profile-p {
  font-size: 14px;
  line-height: 1.66667;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

[data-theme="dark"] .site-description-item-profile-p {
  color: rgba(255, 255, 255, 0.85);
}

[data-theme="dark"] .site-description-item-profile-wrapper {
  color: rgba(255, 255, 255, 0.65);
}

.industry-type {
  position: relative;
  bottom: 36px;
  left: 97px;
}