.intro-div {
  margin-top: 5%;
  width: 50% !important;
  margin-left: 332px;
}

.intro-banner-style {
  padding-bottom: 3%;
  width: 75% !important;
  margin: auto;
}

.arrival {
  width: 75% !important;
  margin: auto;
}

.home {
  h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: 700;
    color: #33334b;
    font-size: 36px;
  }

  .arrival {
    h5 {
      color: white;
      font-size: 20px;
      margin: 0;
      margin-left: 15px;
      padding-top: 2.5% !important;
    }
  }

  h4 {
    font-size: 20px;
  }

  .text-loop-home {
    color: #28a4d9;

    .x3 {
      width: 148px !important;
    }
  }
}

.bg-home-ban {
  background-color: $color-theme;

  .secondary-banner-style {
    padding-top: 3.5% !important;
    margin-bottom: 1.75% !important;
    padding-left: 0.75%;
    padding-right: 0.75%;
    padding-bottom: 0%;
  }
}

.bg-home {
  background-color: $color-background;

  .time-cap {
    padding-top: 5px;
    padding-bottom: 35px;

    h5 {
      color: black;
    }
  }
}

.intro-banner {
  margin-bottom: 3%;
}

.bg-home-pro {
  position: relative !important;
  background-color: #ffffff;

  .new-promotion {
    padding-bottom: 25px;
    padding-top: 5px;

    h5 {
      color: black;
    }
  }

  .promotions {
    position: relative;
    z-index: 1;
  }
}

.bg-home-pro-estore {
  background-color:
    #28a4d9;

  .estore-near-you {
    padding-bottom: 25px;
    padding-top: 5px;

  }
}

.particles-main {
  canvas {
    position: fixed;
    z-index: 0;
    // top: 0px;
  }
}

.particles-sub {
  canvas {
    position: absolute;
  }
}

.promo-videos {
  background-color: transparent;
  text-align: center;
  width: 100%;
  padding-top: 4%;
}

.homevideo-prop {
  height: 400px !important;
}