.inst-logo {
  width: 100%;
  padding-bottom: 10%;
}

.left-login {
  width: 100%;
  height: 30em;
}

.right-welcome {
  text-align: center;
  margin-top: -31px;
}

.form-recovery {
  white-space: nowrap;
  font-size: 12px;
}

.modal-button {
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.modal-row {
  padding: 3%;
  padding-left: 7%;
  padding-right: 7%;
}

.in-body {
  width: 100%;
  margin: 0%;
}

.right-pop {
  left: 0%;
}

.login-img {
  padding: 0%;
}

.mdl-body {
  padding: 0%;
}

.modal-popup {
  padding: 0%;
}

.fade {
  padding-left: 0% !important;
}

.modal-open {
  padding-right: 0% !important;
}

.right-logo {
  margin-top: 10%;
}

.login-error {
  margin-bottom: 2%;
}

.login-error-msg {
  color: red;
  white-space: nowrap;
}

h3 {
  text-align: center;
  margin-top: 4px;
  font-weight: bold;
  color: #33334b;
}