.store-page {
  background-color: #f5f5f5;

  .jumbotron {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .bg-trans {
    background-color: rgba(0, 0, 0, 0.75);
  }

  .title-store {
    margin: 5%;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: monospace;
  }

  .Subtitle-store {
    color: #ffffff;
    text-align: center;
    margin: 5%;
    font-size: 20px;
    font-weight: 700;
    font-family: fantasy;
    float: right;
  }

  .address-store {
    margin: 5%;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    float: right;
    text-align: end;
    font-weight: 700;
    font-family: fantasy;
  }

  .store-information {
    margin: 5%;
    color: darkolivegreen;
    font-size: 18px;
    font-weight: 700;
    font-family: fantasy;
    text-align: center;
  }

  .bg-adss {
    padding: 5% 5% 0% 5%;
    margin: auto;
  }
}

.products-storeinfo {
  margin: 1%;
}

.PrivateTabIndicator-colorPrimary-8 {
  background-color: #a40606 !important;
}

.MuiTab-textColorPrimary {
  color: black !important;
}

.MuiTab-root {
  font-family: fantasy !important;
  font-weight: 700 !important;
  font-size: 12px !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}